@model Joueur

<h2>Supprimer le joueur #@Model.Id</h2>

<div class="alert alert-warning" role="alert">
    Êtes-vous sûr de vouloir supprimer ce joueur ?
</div>

@*TODO: Complétez cette vue de façon à  
        confirmer ou annuler la supression*@

<a asp-action="SupprimerConfirme" asp-route-id="@Model.Id" class="btn btn-sm btn-danger">Oui</a>
<a asp-action="Index" class="btn btn-sm btn-secondary">Non</a>
